
body{
  font-family: 'Permanent Marker', cursive;
}
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background-color:#f7f2f2;
}

/*----------------------- Header Styles ------------------------------ */
header{
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
  nav ul{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
    border-bottom: solid white 2px;
  }
  nav ul li a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  nav ul li a:hover{
    text-decoration: underline;
  }



/*----------------------- About Me ------------------------------------- */

main{
  padding-top: 100px;
  margin: auto;
  width: 90%;
}
h1{
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
  margin-bottom: 20px;
}
.myPic {
  display: inline-block;
  width: 30%;
  border-radius: 1px 100px 1px;
  margin-top: 30px;
  vertical-align: top;
}
.myPic img{
  display: inline-block;
  border-radius: 1px 100px 1px;
  margin-top: 30px;
  width: 100%;
}
.bio {
  display: inline-block;
  width: 50%;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  padding: 30px;
}

/*----------------------- Projects ------------------------------------- */
.project-content{
  border: 2px solid #e9e8e8;
  max-width: 1400px;
  margin: 0 auto 60px;
  align-items: center;
  font-size: 18px;
  color: #0f4e48;
  font-family: 'Josefin Sans', sans-serif;
  padding: 30px;
}
.project-content img{
  display: block;
  width: 95%;
  margin: 20px auto;
  border: solid #808080 2px;
}
.project-content h2{
  font-family: 'Permanent Marker', cursive;
  padding-top: 30px;
}
.techs-used ul li{
  display: inline-block;
  padding: 5px;
}
.techs-used ul li img{
  width: 40px;
  height: auto;
  border: none;
}
.view-options{
  display: block;
  margin: 10px auto;
}
.view-options a{
  display: inline-block;
  color: #fff;
  padding: 7px;
  margin-right: 5px;
  background-color: #0f4e48;
  text-decoration: none;
  width: 150px;
  text-align: center;
}
.view-options a:hover{
  background-color: #7e7e7e;
}
/*----------------------- Contact Section--------------------------------- */
h2, h3{
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 10px;
}
.contact-info a img{
  width: 40px;
  height: auto;
  border: none;
}
.myName{
  color: #0f4e48;
}
/*----------------------- Media Queries--------------------------------- */
@media screen and (max-width: 750px){
  #contact{
    font-size: 80%;
  }
  .contact-info a img{
    width: 40px;
    height: auto;
    border: none;
  }
  .myName{
    color: #0f4e48;
    font-size: 28px;
  }
  .myPic img{
    display: block;
    width: 100%;
    margin: auto;
  }
  .bio, .myPic{
   display: block;
   width: 95%;
  }
  
}

@media screen and (max-width: 450px){
  .header-wrapper{
    max-width: 450px;
  }
  nav ul li a{
    font-size: 12px;
    padding: 10px;
  }
  .mobile-toggle{
    display: block;
  }
  .logo img {
    max-height: 50px;
    max-width: 180px; 
  }
  .myPic img{
     margin: 30px auto;
    max-width: 300px;
  }
  .bio{
    max-width: 1150px;
    margin: 30px auto;
    font-size: 14px;
    padding: 15px;
  }
  .project-content{
    margin: 0 auto 10px;
    padding: 10px;
    font-size: 14px;
  }
  .project-content h2{
    padding-top: 10px;
  }
  .project-content img{
    display: block;
    width: 95%;
    margin: 10px auto;
  }
  .techs-used ul li img{
    width: 25px;
  }
  .view-options a{
    display: block;
    padding: 5px;
    margin: 5px auto;
    width: 150px;
  }
}